<template>
  <form action="" @submit.prevent="submitAuth">
    <input type="text" placeholder="Login.." v-model="login" />
    <input type="text" placeholder="Password.." v-model="password" />
    <button type="submit">Submit</button>
  </form>
</template>

<script>
import axios from "axios";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      login: "",
      password: "",
    };
  },
  methods: {
    ...mapActions({ setCurrentUser: "setUser" }),
    submitAuth() {
      if (this.login.length && this.password.length) {
        axios
          .post("http://215c-85-159-24-193.ngrok.io/login", {
            login: this.login,
            password: this.password,
          })
          .then((response) => {
            if (response.data.status === false) {
              alert(response.data.error);
            } else if (response.data.status === true) {
              localStorage.setItem("token", response.data.response.token);
              this.setCurrentUser(response.data.response.user).then(() => {
                  this.$router.push('/users');
              });
            }
          });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>