<template>
  <div class="home">
    <header>
      <div
        class="container row d-flex justify-content-between align-items-center"
      >
        <div class="logo-container col-2 d-flex align-items-center">
          <font-awesome-icon :icon="['fab', 'linkedin']" />
          <div class="line">|</div>
          <button type="text">
            Discover
            <font-awesome-icon :icon="['fas', 'sort-down']" />
          </button>
        </div>
        <form action="post" name="header-search" class="col-5">
          <input type="text" placeholder="Search linkedin" />
          <button type="submit" name="header_search_submit">
            <font-awesome-icon :icon="['fas', 'search']" />
          </button>
        </form>
        <button class="drop-down-header col-1">
          <font-awesome-icon :icon="['fas', 'bars']" />
        </button>
        <div
          class="
            menu-container
            col-lg-2 col-md-3
            d-flex
            align-items-center
            justify-content-between
          "
        >
          <font-awesome-icon :icon="['far', 'comment']" />
          <font-awesome-icon :icon="['far', 'flag']" />
          <img
            src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg.jpg"
            alt="profile picture"
          />
        </div>
      </div>
    </header>
    <nav class="nav-menu">
      <ul class="container d-flex justify-content-between">
        <li>
          <div :class="{ active: tab === 'posts' }" @click="setTab('posts')">
            Posts
          </div>
        </li>
        <li>
          <div
            :class="{ active: tab === 'articles' }"
            @click="setTab('articles')"
          >
            Articles
          </div>
        </li>
        <li>
          <div
            :class="{ active: tab === 'companies' }"
            @click="setTab('companies')"
          >
            Companies
          </div>
        </li>
        <li>
          <div :class="{ active: tab === 'jobs' }" @click="setTab('jobs')">
            Jobs
          </div>
        </li>
      </ul>
    </nav>
    <main class="container row d-flex justify-content-between">
      <section
        class="
          profile-container
          col-lg-3 col-sm-12
          d-flex
          flex-column
          align-items-center
        "
      >
        <div class="profile-pic">
          <img :src="user.avatar" alt="Profile photo" />
          <h3>{{ user.firstName }}</h3>
          <p>{{ user.lastName }}</p>
        </div>
        <div class="connections d-flex justify-content-between">
          <div class="connection-block">
            <h3>{{ user.connections }}</h3>
            <p>Connections</p>
          </div>
          <div class="connection-block">
            <h3>{{ user.views }}</h3>
            <p>Views</p>
          </div>
        </div>
        <div class="contact-links d-flex flex-column">
          <div>
            <font-awesome-icon :icon="['fab', 'linkedin-in']" />
            <a :href="user.socialLinks.linkedin">linkedin</a>
          </div>
          <div>
            <font-awesome-icon :icon="['fab', 'twitter']" />
            <a :href="user.socialLinks.twitter">twitter</a>
          </div>
          <div>
            <font-awesome-icon :icon="['fab', 'skype']" />
            <a :href="user.socialLinks.site">skype</a>
          </div>
        </div>
      </section>
      <template v-if="tab === 'posts'">
        <section
          class="
            feed
            col-xl-5 col-lg-6 col-sm-12
            d-flex
            flex-column
            align-items-center
          "
        >
          <div class="actions-container">
            <div class="action-buttons d-flex justify-content-between">
              <button class="active-action-btn">
                <font-awesome-icon :icon="['fas', 'pencil-alt']" />Share an
                update
              </button>
              <button>
                <font-awesome-icon :icon="['far', 'image']" />Upload a photo
              </button>
              <button>
                <font-awesome-icon :icon="['fas', 'book-open']" />Write an
                article
              </button>
            </div>
            <textarea
              class="active-action"
              id="action-write"
              placeholder="Write something..."
              rows="2"
            ></textarea>
          </div>
          <div class="posts">
            <div class="post">
              <div class="post-author d-flex align-items-center">
                <img
                  src="https://images.ctfassets.net/s5uo95nf6njh/5PpFIeuDxz2T89nZNED1EP/48d62a69f31a3ab6dfc58938eb7b8c2a/evan-you-portrait.jpg"
                  alt="Post author photo"
                />
                <div class="author-info">
                  <h4>Evan You</h4>
                  <p>Creative director</p>
                </div>
                <div class="time">10 min</div>
              </div>
              <div class="post-content">
                <img
                  src="https://www.dalacaraconpepsi.com/wp-content/uploads/2020/09/838.jpg"
                  alt="Pepsi"
                />
              </div>
              <div class="likes-panel d-flex">
                <button class="like-btn active-like">
                  <font-awesome-icon :icon="['fas', 'heart']" />
                </button>
                <div class="likes">34</div>
                <button class="comm-btn">
                  <font-awesome-icon :icon="['far', 'comment-alt']" />
                </button>
                <div class="comments">2</div>
                <button class="share-btn">
                  <font-awesome-icon :icon="['fas', 'share-alt']" />
                </button>
              </div>
            </div>
            <div class="post">
              <div class="post-author d-flex align-items-center">
                <img
                  src="https://ca-times.brightspotcdn.com/dims4/default/30ef4c6/2147483647/strip/true/crop/5302x3608+0+0/resize/840x572!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F26%2Fae%2F0b42f7914920a706e1f0e72dc94f%2Fana-de-almeida-amaral-gold-award-girl-scout.jpg"
                  alt="Post author photo"
                />
                <div class="author-info">
                  <h4>Alexandra Samit</h4>
                  <p>This new campaign is really awesome.</p>
                </div>
                <div class="time">2 min</div>
              </div>
              <div class="post-content">
                <img
                  src="https://www.liknoss.com/sites/default/files/styles/pagesfull/public/2019-10/Company.jpg?itok=C7WoQPKQ"
                  alt="campaign"
                />
              </div>
              <div class="likes-panel d-flex">
                <button class="like-btn">
                  <font-awesome-icon :icon="['fas', 'heart']" />
                </button>
                <div class="likes">124</div>
                <button class="comm-btn">
                  <font-awesome-icon :icon="['far', 'comment-alt']" />
                </button>
                <div class="comments">14</div>
                <button class="share-btn">
                  <font-awesome-icon :icon="['fas', 'share-alt']" />
                </button>
              </div>
            </div>
          </div>
        </section>
      </template>
      <template v-else-if="tab === 'articles'">
        <div class="articles col-xl-5 col-lg-6 col-sm-12">
          <div class="article" v-for="article in articles" :key="article.id">
            <div class="article-header">
              <h2>
                {{ article.title }}
              </h2>
            </div>
            <p class="article-description">
              {{ article.description }}
            </p>
            <button class="btn">Read more...</button>
          </div>
        </div>
      </template>
      <template v-else-if="tab === 'companies'">
        <div class="companies col-xl-5 col-lg-6 col-sm-12">
          <div class="company">
            <div
              class="
                company-head
                d-flex
                align-items-center
                justify-content-around
              "
            >
              <img
                src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/corporate-company-logo-design-template-2402e0689677112e3b2b6e0f399d7dc3_screen.jpg?ts=1561532453"
                alt="company logo"
                class="company-logo"
              />
              <h3 class="company-name">Lorem Corporation</h3>
            </div>
            <div class="company-address">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, qui?
            </div>
          </div>
        </div>
      </template>
      <template v-else-if="tab === 'jobs'">
        <div class="jobs d-flex flex-column col-xl-5 col-lg-6 col-sm-12">
          <div class="job">
            <div class="job-name d-flex">
              <h4>Company name:</h4>
              <p>Lorem company</p>
            </div>
            <div class="experience-position d-flex">
              <h4>Position:</h4>
              <p>Developer</p>
            </div>
            <div class="experience-years d-flex">
              <h4>Years of experience:</h4>
              <p>1 year(s)</p>
            </div>
          </div>
        </div>
      </template>
      <aside class="sidebar col-lg-3 col-sm-12">
        <h3>Keep in touch</h3>
        <div class="may-know-profiles">
          <div
            class="may-know-profile"
            v-for="person in recommendations"
            :key="person.id"
          >
            <img :src="person.avatar" alt="person" />
            <div class="profile-info">
              <h3>{{ person.firstName }}</h3>
              <p>{{ person.position }}</p>
            </div>
          </div>
        </div>
      </aside>
    </main>
  </div>
</template>
<script>
const axios = require("axios");
export default {
  name: "Home",
  data() {
    return {
      user: {
        id: 0,
        firstName: "",
        lastName: "",
        connections: 0,
        views: 0,
        avatar: "",
        socialLinks: {
          linkedin: "",
          twitter: "",
          site: "",
        },
      },
      posts: [],
      articles: [],
      companies: [],
      jobs: [],
      recommendations: [],
      tab: "",
    };
  },
  computed: {},
  // beforeRouteEnter(to, from, next) {
  //   if (
  //     ["posts", "articles", "companies", "jobs"].indexOf(to.params.tab) === -1
  //   ) {
  //     next("/user/" + to.params.id + "/posts");
  //   }
  //   const getUser = () => {
  //     return axios
  //       .get("http://df1b-85-159-24-193.ngrok.io/user?id=" + to.params.id)
  //       .then(function (response) {
  //         return response.data;
  //       });
  //   };
  //   const getArticles = () => {
  //     if (to.params.tab !== "articles") return null;
  //     return axios
  //       .get("http://df1b-85-159-24-193.ngrok.io/articles?id=" + to.params.id)
  //       .then(function (response) {
  //         return response.data;
  //       });
  //   };
  //   const getPosts = () => {
  //     if (to.params.tab !== "posts") return null;
  //     return axios
  //       .get("http://df1b-85-159-24-193.ngrok.io/posts?id=" + to.params.id)
  //       .then(function (response) {
  //         return response.data;
  //       });
  //   };
  //   const getRecommendations = () => {
  //     return axios
  //       .get(
  //         "http://df1b-85-159-24-193.ngrok.io/recommendations?id=" +
  //           to.params.id
  //       )
  //       .then(function (response) {
  //         return response.data;
  //       });
  //   };
  //   Promise.all([
  //     getUser(),
  //     getPosts(),
  //     getRecommendations(),
  //     getArticles(),
  //   ]).then(function (results) {
  //     if (results[0].status === false) {
  //       alert("Пользователь не найден");
  //     } else {
  //       next((vm) => {
  //         vm.user.id = results[0].response.id;
  //         vm.user.firstName = results[0].response.firstName;
  //         vm.user.lastName = results[0].response.lastName;
  //         vm.user.connections = results[0].response.connections;
  //         vm.user.views = results[0].response.views;
  //         vm.user.avatar = results[0].response.avatar;
  //         vm.user.socialLinks = results[0].response.socialLinks;
  //         vm.recommendations = results[2].response;
  //         vm.tab = to.params.tab;
  //         if (to.params.tab === "posts") {
  //           vm.posts = results[1].response;
  //         } else if (to.params.tab === "articles") {
  //           vm.articles = results[3].response;
  //         }
  //       });
  //     }
  //   });
  // },

  methods: {
    setTab(activeTab) {
      this.$router.push("/user/" + this.user.id + "/" + activeTab);
      this.tab = activeTab;
      let url = "";
      if (activeTab === "articles") {
        url = "http://df1b-85-159-24-193.ngrok.io/articles?id=" + this.user.id;
      } else if (activeTab === "posts") {
        url = "http://df1b-85-159-24-193.ngrok.io/posts?id=" + this.user.id;
      }
      console.log(this.articles);
      axios.get(url).then(function (response) {
        if (activeTab === "articles") {
          this.articles = response.data;
        } else if (activeTab === "posts") {
          this.posts = response.data;
        }
      });
    },
  },
};
</script>
