<template>
  <div class="wrapper">
    <the-header></the-header>
    <div class="page-wrapper">
      <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Search results</h2>
              <div class="text-muted mt-1">
                About 2,410 result (0.19 seconds)
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-3">
              <form action="" method="get">
                <div class="subheader mb-2">Category</div>
                <div class="list-group list-group-transparent mb-3">
                  <a
                    class="
                      list-group-item list-group-item-action
                      d-flex
                      align-items-center
                      active
                    "
                    href="#"
                  >
                    Games
                    <small class="text-muted ms-auto">24</small>
                  </a>
                  <a
                    class="
                      list-group-item list-group-item-action
                      d-flex
                      align-items-center
                    "
                    href="#"
                  >
                    Clothing
                    <small class="text-muted ms-auto">149</small>
                  </a>
                  <a
                    class="
                      list-group-item list-group-item-action
                      d-flex
                      align-items-center
                    "
                    href="#"
                  >
                    Jewelery
                    <small class="text-muted ms-auto">88</small>
                  </a>
                  <a
                    class="
                      list-group-item list-group-item-action
                      d-flex
                      align-items-center
                    "
                    href="#"
                  >
                    Toys
                    <small class="text-muted ms-auto">54</small>
                  </a>
                </div>
                <div class="subheader mb-2">Rating</div>
                <div class="mb-3">
                  <label class="form-check mb-1">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="form-stars"
                      value="5"
                      v-model="rating"
                      checked
                    />
                    <span class="form-check-label">5 stars</span>
                  </label>
                  <label class="form-check mb-1">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="form-stars"
                      value="4"
                      v-model="rating"
                    />
                    <span class="form-check-label">4 stars</span>
                  </label>
                  <label class="form-check mb-1">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="form-stars"
                      value="3"
                      v-model="rating"
                    />
                    <span class="form-check-label">3 stars</span>
                  </label>
                  <label class="form-check mb-1">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="form-stars"
                      value="2"
                      v-model="rating"
                    />
                    <span class="form-check-label">2 and less stars</span>
                  </label>
                </div>
                <div class="subheader mb-2">Tags</div>
                <div class="mb-3">
                  <label
                    v-for="tag in tags.options"
                    :key="tag.id"
                    class="form-check mb-1"
                  >
                    <input
                      type="checkbox"
                      class="form-check-input"
                      name="form-tags[]"
                      :value="tag.id"
                      v-model="tags.value"
                    />
                    <span class="form-check-label">{{ tag.name }}</span>
                  </label>
                </div>
                <div class="subheader mb-2">Price</div>
                <div class="row g-2 align-items-center mb-3">
                  <div class="col">
                    <div class="input-group">
                      <span class="input-group-text"> $ </span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="from"
                        v-model="price.min"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="col-auto">—</div>
                  <div class="col">
                    <div class="input-group">
                      <span class="input-group-text"> $ </span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="to"
                        autocomplete="off"
                        v-model="price.max"
                      />
                    </div>
                  </div>
                </div>
                <div class="subheader mb-2">Shipping</div>
                <div>
                  <select name="" class="form-select" v-model="shipping.value">
                    <option value="0" disabled>Select country...</option>
                    <option
                      v-for="country in shipping.options"
                      :key="country.id"
                      :value="country.id"
                    >
                      {{ country.name }}
                    </option>
                  </select>
                </div>
                <div class="mt-5">
                  <button class="btn btn-primary w-100">Confirm changes</button>
                  <a href="#" class="btn btn-link w-100"> Reset to defaults </a>
                </div>
              </form>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/1b73704b282a8ec6.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/000m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Paweł Kuna</div>
                          <div class="text-muted">3 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/3d2998219313cd37.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span class="avatar me-3 rounded">JL</span>
                        <div>
                          <div>Jeffie Lewzey</div>
                          <div class="text-muted">5 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/6ab3200b14549f8a.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/002m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Mallory Hulme</div>
                          <div class="text-muted">yesterday</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/6d35d9a2bd6c63c2.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/003m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Dunn Slane</div>
                          <div class="text-muted">1 week and 3 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/8a26974ee6444acd.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/000f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Emmy Levet</div>
                          <div class="text-muted">5 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/8c13ad59f739558c.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/001f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Maryjo Lebarree</div>
                          <div class="text-muted">3 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/8fdeb4785d2b82ef.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span class="avatar me-3 rounded">EP</span>
                        <div>
                          <div>Egan Poetz</div>
                          <div class="text-muted">6 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/9f36332564ca271d.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/002f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Kellie Skingley</div>
                          <div class="text-muted">1 week and 2 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/35b88fc04a518c1b.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/003f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Christabel Charlwood</div>
                          <div class="text-muted">today</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/36e273986ed577b8.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span class="avatar me-3 rounded">HS</span>
                        <div>
                          <div>Haskel Shelper</div>
                          <div class="text-muted">2 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/75b555b99d5b38c4.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/006m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Lorry Mion</div>
                          <div class="text-muted">5 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/546fd146c83f428c.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/004f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Leesa Beaty</div>
                          <div class="text-muted">6 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/802a16cdf5ce3551.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/007m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Perren Keemar</div>
                          <div class="text-muted">4 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/0986f97be719fb9a.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span class="avatar me-3 rounded">SA</span>
                        <div>
                          <div>Sunny Airey</div>
                          <div class="text-muted">5 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/1194d63fe36a8670.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/009m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Geoffry Flaunders</div>
                          <div class="text-muted">1 week ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/1366fdc9b9b277e4.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/010m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Thatcher Keel</div>
                          <div class="text-muted">1 week and 2 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/5358d787242861c4.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/005f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Dyann Escala</div>
                          <div class="text-muted">4 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/5614ec7eb9034d04.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/006f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Avivah Mugleston</div>
                          <div class="text-muted">6 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/56614e12b2a7bd68.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span class="avatar me-3 rounded">AA</span>
                        <div>
                          <div>Arlie Armstead</div>
                          <div class="text-muted">1 week and 1 day ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/77586f6ffa9fbc5e.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/008f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Tessie Curzon</div>
                          <div class="text-muted">3 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/552683cc4e5f0e11.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/009f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Flossi Uttley</div>
                          <div class="text-muted">4 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/3664593f945f0d8d.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/010f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Cesya Spritt</div>
                          <div class="text-muted">1 week ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/529078594c496ec5.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/011m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Johnnie Gilby</div>
                          <div class="text-muted">1 week and 1 day ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/a74c41b6fb7fdf34.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/012m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Ban Rzehor</div>
                          <div class="text-muted">1 week and 1 day ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/a159fb2bff29fda4.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/011f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Carroll Erat</div>
                          <div class="text-muted">6 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/a12804818c417ea3.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/012f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Marsha Labat</div>
                          <div class="text-muted">today</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/abb0721ac43820f9.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/013m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Elston Muffett</div>
                          <div class="text-muted">1 week and 3 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/d366fc3df37fe65b.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/013f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Leigha Gorce</div>
                          <div class="text-muted">1 week and 1 day ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/da6119936bd7f566.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span class="avatar me-3 rounded">TB</span>
                        <div>
                          <div>Tallie Bettis</div>
                          <div class="text-muted">3 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/e8f47263360d96af.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/015f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Merrily Garforth</div>
                          <div class="text-muted">3 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/ecfed9fbf8a58836.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span class="avatar me-3 rounded">EB</span>
                        <div>
                          <div>Errol Blackley</div>
                          <div class="text-muted">2 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/f7f04e6a834b1959.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/016f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Ninon Don</div>
                          <div class="text-muted">1 week and 1 day ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/f61b5f865012f200.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/015m.jpg);
                          "
                        ></span>
                        <div>
                          <div>Delaney Cairney</div>
                          <div class="text-muted">1 week and 3 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/f746d9f7fa60be79.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/017f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Gratia Gooley</div>
                          <div class="text-muted">6 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="card card-sm">
                    <a href="#" class="d-block"
                      ><img
                        src="./../static/photos/ff54b43b56632883.jpg"
                        class="card-img-top"
                    /></a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <span
                          class="avatar me-3 rounded"
                          style="
                            background-image: url(./static/avatars/018f.jpg);
                          "
                        ></span>
                        <div>
                          <div>Odelinda McCosh</div>
                          <div class="text-muted">1 week and 3 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <the-footer></the-footer>
    </div>
  </div>
</template>
<script>
import theHeader from "../components/theHeader.vue";
import theFooter from "../components/theFooter.vue";
// const axios = require("axios");
export default {
  components: {
    theHeader,
    theFooter,
  },
  data() {
    return {
      search: "",
      price: {
        min: 0,
        max: 0,
      },
      rating: null,
      categories: {
        options: [],
        value: "",
      },
      tags: {
        options: [],
        value: [],
      },
      shipping: {
        options: [],
        value: "0",
      },
      items: [],
    };
  },
  computed: {
    // filteredItems() {
    //   return this.items.filter((a) => {
    //     let search = true;
    //     let rating = true;
    //     if (this.rating !== null) {
    //       if (a.rating) {
    //       } else {
    //         if (a.rating != this.rating) return false;
    //       }

    //       if (!search || !rating) {
    //         return false;
    //       }

    //       if (
    //         this.rating === null &&
    //         this.price.min === 0 &&
    //         this.price.max === 0 &&
    //         this.shipping.value === "0" &&
    //         this.tags.value.length === 0 &&
    //         this.categories.value === ""
    //       ) {
    //         return true;
    //       } else if (
    //         a.rating !== this.rating ||
    //         (a.price <= this.price.min && a.price >= this.price.max) ||
    //         a.shipping.contains(this.shipping) ||
    //         a.tags.filter((tag) => this.tags.includes(tag)).length === 0
    //       ) {
    //         return false;
    //       }
    //       return true;
    //     }
    //   });
    // },
  },

  // beforeRouteEnter(to, from, next) {
  //   let url = "http://0d12-85-159-24-193.ngrok.io";
  //   const getItems = () => {
  //     return axios.get(url + "/search").then(function (response) {
  //       return response.data;
  //     });
  //   };
  //   const getFilters = () => {
  //     return axios.get(url + "/start_up/").then(function (response) {
  //       return response.data;
  //     });
  //   };
  //   Promise.all([getFilters(), getItems()]).then(function (results) {
  //     next((vm) => {
  //       vm.categories.options = results[0].response.categories;
  //       vm.tags.options = results[0].response.tags;
  //       vm.shipping.options = results[0].response.shipping;
  //       vm.price.max = results[0].response.maxPrice;
  //       vm.items = results[1].response;
  //     });
  //   });
  // },
};
</script>