<template>
  <div class="wrapper">
    <the-header></the-header>
    <div class="page-wrapper">
      <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="page-title">Users</h2>
              <div class="text-muted mt-1">
                {{ paginateFrom }}-{{ paginateTo }} of {{ users.length }} people
              </div>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
              <div class="d-flex">
                <input
                  type="search"
                  class="form-control d-inline-block w-9 me-3"
                  placeholder="Search user…"
                />
                <a href="#" class="btn btn-primary">
                  <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg>
                  New user
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-cards">
            <div
              class="col-md-6 mb-3 col-lg-3"
              v-for="user in paginatedUsers"
              :key="user.id"
            >
              <div class="card">
                <div class="card-body p-4 text-center">
                  <span
                    class="avatar avatar-xl mb-3 avatar-rounded"
                    :style="'background-image: url(' + user.avatar + ')'"
                  ></span>
                  <h3 class="m-0 mb-1">
                    <a href="#">{{ user.name }}</a>
                  </h3>
                  <div class="text-muted">{{ user.post }}</div>
                  <div class="mt-3">
                    <span class="badge" :class="roleBgClass(user.role)">{{
                      user.role
                    }}</span>
                  </div>
                </div>
                <div class="d-flex">
                  <a href="#" class="card-btn">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon me-2 text-muted"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                      <polyline points="3 7 12 13 21 7"></polyline>
                    </svg>
                    Email</a
                  >
                  <a href="#" class="card-btn"
                    ><!-- Download SVG icon from http://tabler-icons.io/i/phone -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon me-2 text-muted"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path
                        d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                      ></path>
                    </svg>
                    Call</a
                  >
                </div>
              </div>
            </div>
          </div>
          <pagination
            v-model="page"
            :records="users.length"
            :per-page="perPage"
            @paginate="callback"
          ></pagination>
        </div>
      </div>
      <the-footer></the-footer>
    </div>
  </div>
</template>

<script>
import theHeader from "../components/theHeader.vue";
import theFooter from "../components/theFooter.vue";
import Pagination from "v-pagination-3";
const axios = require("axios");

export default {
  components: {
    theHeader,
    theFooter,
    Pagination,
  },
  data() {
    return {
      users: [],
      page: 1,
      perPage: 24,
    };
  },
  computed: {
    roleBgClass() {
      return (role) => {
        if (role === "admin") {
          return { purple: true };
        } else if (role === "moderator") {
          return { orange: true };
        } else if (role === "user") {
          return { blue: true };
        } else if(role === "owner") {
          return {gray: true}
        }
        return { defaultColor: true };
      };
    },
    paginatedUsers() {
      const result = this.users.filter((_, i) => {
        if (i >= this.paginateFrom && i < this.paginateTo) {
          return true;
        }
        return false;
      });
      return result;
    },
    paginateFrom() {
      return this.page * this.perPage - this.perPage;
    },
    paginateTo() {
      if (this.paginateFrom + this.perPage >= this.users.length) {
        return this.users.length;
      }
      return this.paginateFrom + this.perPage;
    },
  },
  methods: {
    showUsers() {
      console.log(this.users);
    },
    callback() {},
  },
  beforeRouteEnter(to, from, next) {
    let url = "http://localhost:3010";
    axios.get(url + "/users").then(function (response) {
      next((vm) => {
        vm.users = response.data.response;
        console.log(vm.users);
      });
    });
  },
};
</script>


<style lang="scss" scoped>
.purple {
  background-color: #8a2be2;
}
.orange {
  background-color: #ff7f50;
}
.blue {
  background-color: #87ceeb;
}

.gray {
  background-color: #778899;
}
.defaultColor {
  background-color: #87ceeb;
}
</style>