<template>
  <router-view />
</template>

<style lang="scss">
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$gray: #a9a8ad;
$border-gray: #e9e9e9;
@mixin add-bg-and-border {
  background: #fff;
  border: 1px solid $border-gray;
  border-radius: 3px;
}
html {
  font-size: 14px;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f6f8fa;
  a,
  p {
    text-decoration: none;
    color: $gray;
  }
  p,
  h3,
  h4 {
    cursor: default;
  }
  ul {
    list-style: none;
  }
  img {
    cursor: pointer;
  }

  header {
    background-color: #fff;
    .container {
      padding: 20px 0px;
      margin: 0 auto;
      @media (max-width: 768px) {
        .drop-down-header {
          display: block !important;
        }
        form {
          display: none !important;
        }
        .menu-container {
          display: none !important;
        }
      }
      .drop-down-header {
        background: transparent;
        display: none;
        border: none;
        font-size: 2.2rem;
        color: #0080b4;
        &:hover {
          color: #2ab5ec;
        }
      }
      .logo-container {
        .fa-linkedin {
          color: #0080b4;
          margin-right: 15px;
          cursor: pointer;
          font-size: 2.4rem;
        }
        .line {
          color: $gray;
          font-size: 1.2rem;
        }
        button[type="text"] {
          background: transparent;
          display: flex;
          margin-left: 10px;
          border: none;
          font-size: 1.2rem;
          font-weight: 600;
          text-align: center;
        }
        .fa-sort-down {
          font-size: 0.8rem;
          margin-left: 5px;
          margin-top: 2px;
        }
      }
      form {
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        input {
          width: 100%;
          outline: none;
          border-radius: 4px;
          padding: 10px 40px;
          border: 1px solid $gray;
        }
        button[type="submit"] {
          position: absolute;
          border: none;
          background: transparent;
          left: 8px;
          color: $gray;
          &:hover {
            color: rgb(114, 114, 114);
          }
        }
      }

      .menu-container {
        img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 50%;
        }
        .fa-comment,
        .fa-flag {
          font-size: 2rem;
          color: $gray;
        }
      }
    }
  }

  .nav-menu {
    width: 100%;
    padding: 30px 0px;
    border-top: 2px solid $border-gray;
    border-bottom: 2px solid $border-gray;
    .container {
      max-width: 500px;
      margin: 0 auto;
      .active {
        border-bottom: 3px solid #0e7ea8;
        padding-bottom: 30px;
        color: #1a1c1e;
      }
      a {
        font-size: 1.5rem;
        &:hover {
          color: #1a1c1e;
        }
      }
    }
  }

  main {
    padding: 60px 0px;
    margin: 0 auto;

    .profile-container {
      height: min-content;
      padding: 40px 0px;
      @include add-bg-and-border;
      .profile-pic {
        text-align: center;
        margin-bottom: 60px;
        img {
          width: 140px;
          height: 140px;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 15px;
        }
      }
      .connections {
        width: 100%;
        text-align: center;
        .connection-block {
          padding: 20px 0px;
          width: 100%;
          border-top: 2px solid $border-gray;
          border-bottom: 2px solid $border-gray;
          h3,
          p {
            cursor: pointer;
          }
          &:first-of-type {
            border-right: 2px solid $border-gray;
          }
        }
      }
      .contact-links {
        padding-top: 40px;
        div {
          padding: 10px 0px;
          cursor: pointer;
          &:hover {
            a,
            .svg-inline--fa {
              color: #c7c7c7;
            }
          }
          a {
            font-size: 1.3em;
          }
          .svg-inline--fa {
            font-size: 1.1rem;
            margin-right: 10px;
            color: $gray;
          }
        }
      }
    }

    .feed {
      .actions-container {
        padding: 20px 30px 10px 30px;
        width: 100%;
        margin-bottom: 20px;
        @include add-bg-and-border;
        .action-buttons {
          margin-bottom: 20px;
          width: 100%;
          border-bottom: 2px solid $border-gray;
          .fa-pencil-alt,
          .fa-image,
          .fa-book-open {
            margin-right: 5px;
          }
          .fa-pencil-alt {
            color: #277997;
          }
          .fa-image {
            color: #e0c63d;
          }
          .fa-book-open {
            color: #2ca96d;
          }
          .active-action-btn {
            border-color: #0e7ea8;
            color: #1a1c1e;
          }
          button {
            padding: 0px;
            padding-bottom: 20px;
            border: none;
            border-bottom: 2px solid transparent;
            background: #fff;
            color: $gray;
            &:hover {
              color: #1a1c1e;
            }
          }
        }
        #action-write {
          width: 100%;
          border: none;
          outline: none;
          resize: none;
        }
      }

      .posts {
        width: 100%;
        .post {
          padding: 20px 30px;
          margin-bottom: 30px;
          @include add-bg-and-border;
          .post-author {
            position: relative;
            border-bottom: 2px solid $border-gray;
            margin-bottom: 20px;
            padding-bottom: 20px;
            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 10px;
            }
            .author-info {
              line-height: 1px;
              h4,
              p {
                font-size: 1rem;
              }
            }
            .time {
              position: absolute;
              right: 0;
              color: $gray;
            }
          }
          .post-content {
            img {
              width: 100%;
            }
          }
          .likes-panel {
            padding: 20px 0px;
            div {
              margin: 0px 20px 0px 6px;
            }
            .active-like {
              color: #e80100;
            }
            button {
              font-size: 1.2rem;
              padding: 0;
              background: transparent;
              color: $gray;
              border: none;
              &:first-child:hover {
                color: #d1cfd6;
              }
            }
          }
        }
      }
      .articles {
        width: 100%;
        .article {
          padding: 20px 30px;
          margin-bottom: 30px;
          @include add-bg-and-border;
          .article-header {
            margin-bottom: 20px;
          }
          .article-description {
            color: #1a1c1e;
          }
          button {
            &:hover {
              background-color: #a4daf0;
            }
          }
        }
      }
      .companies {
        width: 100%;
        .company {
          padding: 20px 30px;
          margin-bottom: 30px;
          @include add-bg-and-border;
          .company-head {
            img {
              width: 80px;
              height: 80px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
        }
      }
      .jobs {
        width: 100%;

        .job {
          padding: 20px 30px;
          margin-bottom: 30px;
          @include add-bg-and-border;
          div {
            justify-content: space-between;
            p {
              font-size: 1.4rem;
              color: #1a1c1e;
            }
          }
        }
      }
    }
    .sidebar {
      @include add-bg-and-border;
      @media (max-width: 576px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      height: min-content;
      padding: 30px 20px 15px 20px;
      h3 {
        font-size: 1.3rem;
      }
      > h3 {
        padding-bottom: 30px;
        border-bottom: 2px solid $border-gray;
      }
      .may-know-profiles {
        padding-top: 30px;
        .may-know-profile {
          padding-bottom: 15px;
          display: flex;
          img {
            margin-right: 10px;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
</style>
